@import 'tailwindcss';

@theme {
  --color-primary: #7a1438;
  --color-warning: #da7e59;
  --color-warning-dark: #b05531;
  --color-yellow: #d6b224;
  --color-good: #58be4e;
  --color-white: #f7f4f3;
  --color-black: #282217;
  --color-black-light: #3c3325;
  --color-black-dark: #221b11;

  --font-sans: 'Manrope', 'Roboto', 'Arial', sans-serif;
  --font-serif: 'Angst', 'Roboto', 'Arial', sans-serif;

  --ease-cubic: cubic-bezier(0.3, 1.7, 0.8, 1);

  --spacing-safe-bottom: calc(
    var(--spacing) + env(safe-area-inset-bottom, 0px)
  );
  --spacing-safe-top: calc(var(--spacing) + env(safe-area-inset-top, 0px));
  --spacing-safe-left: calc(var(--spacing) + env(safe-area-inset-left, 0px));
  --spacing-safe-right: calc(var(--spacing) + env(safe-area-inset-right, 0px));
}

.modal-enter-active,
.modal-leave-active {
  @apply ease-cubic transition-all duration-500;
}
.modal-enter-from,
.modal-leave-to {
  @apply translate-y-2 opacity-0 blur-xs;
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:host {
  --tw-shadow-alpha: 100%;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-translate-z: 0;
  --tw-rotate-x: rotateX(0);
  --tw-rotate-y: rotateY(0);
  --tw-rotate-z: rotateZ(0);
  --tw-skew-x: skewX(0);
  --tw-skew-y: skewY(0);
  --tw-border-style: solid;
  --tw-gradient-from: #0000;
  --tw-gradient-via: #0000;
  --tw-gradient-to: #0000;
  --tw-gradient-from-position: 0%;
  --tw-gradient-via-position: 50%;
  --tw-gradient-to-position: 100%;
  --tw-shadow: 0 0 #0000;
  --tw-inset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-inset-ring-shadow: 0 0 #0000;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-outline-style: solid;
}
